/* src/styles/globals.css */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Oswald:wght@200..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Inter', sans-serif;
}
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .heading-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .heading-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
}
/* .hover\:bg-main\/50:hover {
  background-color: #000;
} */

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --chart-1: 12 76% 61%;

    --chart-2: 173 58% 39%;

    --chart-3: 197 37% 24%;

    --chart-4: 43 74% 66%;

    --chart-5: 27 87% 67%;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --chart-1: 12 76% 61%;

    --chart-2: 173 58% 39%;

    --chart-3: 197 37% 24%;

    --chart-4: 43 74% 66%;

    --chart-5: 27 87% 67%;

    --sidebar-background: 240 5.9% 10%;

    --sidebar-foreground: 240 4.8% 95.9%;

    --sidebar-primary: 224.3 76.3% 48%;

    --sidebar-primary-foreground: 0 0% 100%;

    --sidebar-accent: 240 3.7% 15.9%;

    --sidebar-accent-foreground: 240 4.8% 95.9%;

    --sidebar-border: 240 3.7% 15.9%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

#google-button-container > div {
  width: 100%;
}
#google-button-container .S9gUrf-YoZ4jf {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#google-button-container > div > div > div {
  width: 100%;
}

.recharts-text.recharts-cartesian-axis-tick-value tspan {
  transform: rotate(180);
}

.messageContent::-webkit-scrollbar {
  display: none;
}

#chatAI::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

#chatAI::-webkit-scrollbar-track {
  background-color: transparent;
}

#chatAI::-webkit-scrollbar-thumb {
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  background-color: rgb(140, 140, 140);
}

#tambah-dokumen::-webkit-scrollbar {
  width: 3px;
}

/* Scroll Bar */

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.ReactMarkdown table {
  @apply my-4 w-full border-collapse;
  @apply block overflow-x-auto;
  /* @apply whitespace-nowrap; */
}

::-webkit-scrollbar-thumb {
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  background-color: rgb(140, 140, 140);
}

#leaderboard #table::-webkit-scrollbar {
  height: 6px;
}

#category #row::-webkit-scrollbar {
  height: 4px;
}

#whyUs #card::-webkit-scrollbar {
  height: 4px;
}

#paginationFlashcard::-webkit-scrollbar {
  height: 4px;
  display: none;
}

#Category::-webkit-scrollbar {
  display: none;
  height: 4px;
}

#searchCategoryMobile::-webkit-scrollbar {
  height: 2px;
}

#leaderboard #tryout-selector::-webkit-scrollbar {
  width: 5px;
}
#leaderboard #tryout-selector::-webkit-scrollbar-thumb {
  background-color: #0091ff;
}
#leaderboard #tryout-selector::-webkit-scrollbar-track {
  background-color: #c7cbd4;
  border-radius: 1rem;
}

/* End - Scroll Bar */

/* Chat AI */
#chatAI h1 {
  font-size: 24px;
}

#chatAI h2 {
  font-size: 20px;
}

#chatAI h3 {
  font-size: 18px;
}

#chatAI h4 {
  font-size: 16px;
}

#DocumentViewPdf .PdfHighlighter {
  background-color: #f4f8fb;
}

#DocumentViewPdf .PdfHighlighter::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

#DocumentViewPdf .PdfHighlighter::-webkit-scrollbar-thumb {
  background-color: #0091ff;
}

#DocumentViewPdf .PdfHighlighter::-webkit-scrollbar-track-piece {
  background-color: #f0f0f0;
}

#DocumentViewPdf .PdfHighlighter .pdfViewer {
  display: flex;
  flex-direction: column;
  align-items: start;
}

#DocumentViewPdf .PdfHighlighter .MouseSelection {
  background: #0091ff;
}

.bn-container.w-full.flex-1 .h-full.w-2.rounded-full.bg-yellow-400 {
  background-color: #0091ff;
}

#DocumentViewPdf .PdfHighlighter .Highlight .Highlight__part {
  background: #0091ff;
}

#DocumentViewPdf .PdfHighlighter .textLayer ::selection {
  background: #0091ff;
}
.PdfHighlighter .TextHighlight__part {
  background: #0091ff;
}

/* Note */
.ring-offset-background.flex-1.bg-bg-workspace.px-0.overflow-auto.w-full {
  background-color: #fff;
}
.flex.h-full.max-w-full.flex-1.items-center.gap-2.rounded-sm.p-1 {
  position: relative;
  padding-left: 0.8rem;
}
.h-full.w-2.rounded-full.bg-yellow-400 {
  max-height: calc(100% - 8px);
  position: absolute;
  left: 0rem;
  top: 4px;
}

#border {
  border: 1px solid #f0f0f0;
}

#test {
  background: linear-gradient(to right, #3ecf8e, #00b85e);
}

#DocumentViewPdf .PdfHighlighter .MouseSelection-container .MouseSelection {
  z-index: 20;
}

/* Vision */
#VisionOff .PdfHighlighter {
  z-index: 39;
}

#VisionOn .PdfHighlighter {
  z-index: 38;
}

/* #VisionOn .PdfHighlighter::-webkit-scrollbar-thumb {
  background-color: #00b85e;
} */

#VisionOn .PdfHighlighter.up {
  z-index: 40;
}

video::-internal-media-controls-download-button {
  display: none;
}

video::-webkit-media-controls-enclosure {
  overflow: hidden;
}

video::-webkit-media-controls-panel {
  width: calc(100% + 30px);
  /* Adjust this value if necessary */
}

.go2072408551 {
  padding: 0;
  box-shadow: none;
  background-color: transparent;
}

#toaster:hover #toasterClose {
  display: block;
}

#toaster #toasterClose {
  display: none;
}

.chatAIContainer {
  display: flex;
  align-items: flex-start;
}

/* #card:hover #text-container {
  background-color: #1a1e259d;
}

#card:hover #text-container #title {
  color: #fff;
} */

#loadingText {
  background-image: linear-gradient(
    to right,
    #a4a7af,
    #f0f0f0,
    #a4a7af,
    #f0f0f0,
    #a4a7af
  );
  background-size: 400% 400%;
  animation: moveBackground 10s infinite linear;
  color: transparent;
  width: fit-content;
  font-size: 0.7rem;
  margin-bottom: 0.3rem;
}

#loading {
  background-image: linear-gradient(
    to right,
    #a4a7af,
    #f0f0f0,
    #a4a7af,
    #f0f0f0,
    #a4a7af
  );
  background-size: 400% 400%;
  animation: moveBackground 10s infinite linear;
  color: transparent;
}

@media (max-width: 768px) {
  html {
    font-size: 85%;
  }
}

@keyframes moveBackground {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 200% 50%;
  }

  100% {
    background-position: 400% 50%;
  }
}

.katex * {
  font-family: inherit;
  /* Menyesuaikan font keluarga */
  font-size: inherit;
  /* Menyesuaikan ukuran font */
  line-height: inherit;
  /* Menyesuaikan tinggi baris */
  color: #967029;
  /* Menyesuaikan warna teks */
}

/* Important styles for ReactMarkdown */
.ReactMarkdown .prose ul li::marker {
  color: #000 !important;
  /* Warna teks untuk list item di dalam prose */
}

.ReactMarkdown ul {
  list-style-type: disc !important;
}

.ReactMarkdown ul ul {
  list-style-type: circle !important;
  /* Mengubah bentuk bullet untuk sub-item */
}

.ReactMarkdown ul ul ul {
  list-style-type: square !important;
  /* Mengubah bentuk bullet untuk sub-item */
}

.ReactMarkdown ol {
  list-style-type: decimal !important;
}

.ReactMarkdown ol ol {
  list-style-type: lower-alpha !important;
}

.ReactMarkdown ol ol ol {
  list-style-type: lower-roman !important;
}

/* Gaya khusus untuk inline code */
.ReactMarkdown code {
  background-color: #f5f5f5 !important;
  /* Warna latar belakang yang lembut */
  /* Ruang di sekitar teks */
  font-size: 90% !important;
  /* Ukuran font yang konsisten dengan teks biasa */
  color: #555 !important;
  /* Warna teks yang sedikit lebih terang */
  border: none !important;
  /* Tidak ada border */
}

#blog-admin .wmde-markdown p {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
}

#blog-admin .w-md-editor-text textarea {
  font-family: 'Inter', sans-serif !important;
  font-size: 14px;
}

#blog-admin .w-md-editor-text-input {
  font-size: 14px;
}

#course-materi .course {
  background-color: transparent;
}

@media (max-width: 768px) {
  #course-materi .course p,
  #course-materi .course ol,
  #course-materi .course ul {
    text-align: justify;
  }
}

#course-materi .course h2 {
  text-align: center;
}

@media (max-width: 768px) {
  #blog-user .wmde-markdown p {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
  }
}

.wmde-markdown hr {
  height: 0.01rem !important;
}

.wmde-markdown ul,
.wmde-markdown ol {
  padding-left: 1rem !important;
}

.wmde-markdown h1 {
  font-size: 2rem !important;
  text-align: center !important;
}
.adwaw {
  border: 1px;
}
